@keyframes :local(rotateRays) {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rays :local {
	animation: rotateRays 10s linear var(--delay) infinite normal;
	transform-origin: 34% 34%;
}
