header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	.flex-item {
		flex: 1 1 30%; /*grow | shrink | basis */
		&:nth-child(2) {
			text-align: center;
		}
		&:nth-child(3) {
			text-align: end;
		}
	}
}
